@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

:root {
    --spotify-green: #1DB954;
    --spotify-black: #000000;
    --spotify-grey: #8b8888;
    --spotify-white: #ffffff;
    --facebook-blue: #4267B2;
    --hover-dark-grey: rgb(46, 46, 46);

    --title-h1-font: 'Lato', sans-serif;
}
body {
    font-family: 'DM Sans', sans-serif !important;
    background-color: var(--hover-dark-grey);
    color: var(--spotify-grey);
}

#top-nav i.bi-chevron-right{
    
   font-size: 20px;
   position: absolute;
    top: 8%;
    left: 25%;

}
#top-nav i.bi-chevron-left{
    
    font-size: 20px;
    position: absolute;
    top: 8%;
    left: 20%;
     
 }

#top-nav .nav-link {
    color: var(--spotify-white) !important;
    background-color: var(--spotify-black);
    opacity: 0.5;
    border-radius: 50%;
    border-style: none;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    transition: opacity 1s;
}

#top-nav .nav-link:hover {
    opacity: 0.8;
}

#top-nav .dropdown-toggle {
    background: var(--spotify-black);
    border-radius: 50px;
    border-style: none;
}

#top-nav .dropdown-toggle img {
    border-radius: 50%;
}

#top-nav .dropdown-menu-dark {
    background-color: var(--spotify-black);
    width: 175px;
    
}

#top-nav .dropdown-menu-dark span{
    margin-left: 60px;
}



/*add link styles add classes for cards*/

.full-screen-height{
    height: 100vh;
  }


.sidebar-div{
    background-color: var(--spotify-black);
    color: var(--spotify-grey);
    height: 80%;
    font-size: 14px;
}
.scrollbar{
    overflow-y: scroll;
    margin-left: 20px;
}

.scrollbar::-webkit-scrollbar{

    background-color: var(--spotify-black);
    width: 10px;
    }

.scrollbar::-webkit-scrollbar-thumb{

    background-color: var(--spotify-grey);
    
    }

    .scrollbar:vertical{
        height: 20px;
    }


#logo-top{

margin-top: 20px;
margin-right: 70px;
margin-bottom: 20px;
margin-left: 20px;
}

.svg-top{
    margin-right: 10px;
}

.side-icons{
    margin-bottom: 20px;
}

.like-icon{
    background: linear-gradient(242deg, rgba(0,154,185,1) 0%, rgba(139,0,171,1) 53%, rgba(10,0,176,1) 100%);
    width: 22px;
height: 22px;
margin-right: 10px;
text-align: center;

}

.side-p{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 1px;
  margin-bottom: 6px;
}

.group-side-p{
    justify-content: space-between;
}

.install{
    background-color: var(--spotify-black);
    align-items: center;
    height:10px;
    font-size: 12px;
    padding: 20px;
    padding-left: 20px;
    font-weight: 700;
    color: var(--spotify-grey);
    border: none;

}

.install:hover{
    color:var(--spotify-white);
}

.install>svg{
    margin-right: 10px;
}


.hover-effect:hover{

    background-color: var(--hover-dark-grey);
    color: var(--spotify-white);
    border-radius: 3px;
}

.hover-effect{
align-items: center;
padding: 10px;
padding-left: 16px;
margin-left: 4px;
margin-right: 4px;
cursor: pointer;
}

.hover-effect>p{
    margin-bottom: 0px;
}


.side-p:hover{
    background-color: var(--hover-dark-grey);
    border-radius: 3px;
    color: var(--spotify-white);
    cursor: pointer;
}

.spoti-logo{
    color: white;
}

.spoti-logo>svg{
    width: 50%;
}

.border-like{
    width: 80%;
    margin: auto;
    opacity: 0.5;
    border-bottom: 1px solid var(--spotify-grey);
    margin-bottom: 10px;
}


/* ********************Matt Artist Page******************** */
.main-wrapper>*{
    padding-inline: 0;
}
.artist-title-container{
    width: 100%;
    height: 50vh;
    background-image: url(/media/doors-media/doors_hero.jpg);
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--spotify-white);
}
.artist-title-container h1{
    font-family: var(--title-h1-font);
    font-size: 4rem;
    font-weight: 900;
}
.artist-title-container p{
    font-weight: bold;
    margin-bottom: 1rem;
}
#play-btn-main{
    display: grid;
    place-content: center;
    background-color: var(--spotify-green);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 1% 0;
}
.pause{
    background-color: var(--spotify-white);
    width: 21px;
    height: 21px;
}
.pause div{
    background-color: var(--spotify-green);
    width: 7px;
    height: 100%;
    margin: 0 auto;
}
.follow-btn{
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    display: grid;
    place-content: center;
    padding: 6px 14px;
    margin-inline: 2rem;
    border: 1px solid var(--spotify-grey);
    color: var(--spotify-white);
}
.more-controls{
    font-size: 1.6rem;
}
.heading{
    margin-top: 8px;
    color: var(--spotify-white);
    margin-bottom: 16px;
    font-size: 1.4rem;
    font-weight: 900;
}
.artist-pick{
    padding-right: 6%;
}
.artist-pick p{
    font-size: 13px;
    margin: 0;
    white-space: nowrap;
}
.pick-details>img{
    margin-right: 1rem;
}
.artist-pick h4{
    color: var(--spotify-white);
    font-size: 1.1rem;
    margin: 16px 0 5px 0;
    white-space: nowrap;
}
.small-artist-img{
    margin-right: 4%;
    border-radius: 50%;
}
.popular-wrapper{
    width: 100%;
}
.popular-wrapper h6{
    margin-top: 12px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: uppercase;
}
.popular-content-card{
    margin: 4px 0;
}
.popular-content-card img{
    min-width: 50px;
    margin-right: 8%;
}
.number{
    display: grid;
    place-content: center;
    min-width: 10px;
    margin-right: 8%;
}
.song{
    color: var(--spotify-white);
    font-weight: bold;
    white-space: nowrap;
    width: fit-content;
    min-width: 200px;
}
.listen{
    width: fit-content;
}
.duration{
    width: fit-content;
    margin: 0 0 0 auto;
}
.more-details{
    min-width: 15vw;
}
.more-details-icon{
    margin-right: 2rem;
}
.main-container{
    background: linear-gradient(0deg, rgba(255,255,255,0) 61%, rgb(112, 112, 112) 100%);
}
@media (max-width: 991px){
    .artist-title-container{
        height: 30vh;
    }
}

#media-player {
    position: absolute; 
    bottom: 0; 
    background-color: var(--spotify-black); 
    height: 100px;
    color: var(--spotify-grey);
}

#media-player img {
    width: 22%;
    height: auto;
  }
#media-player p {
    color: var(--spotify-grey)
}


#media-player h6:not(#heart-container){
    opacity: 0.6
}


#media-player h6:hover {
    opacity: 1;
}

#media-player #album {
    opacity: 1;
    color: var(--spotify-white);
}

#media-player #album:hover {
    text-decoration: underline;
}

#media-player a {
    color: var(--spotify-grey) !important;
}

#media-player a:hover {
    color: var(--spotify-white) !important;
}

#media-player #artist:hover {
    text-decoration: underline;
}

#media-player-play {
    color: var(--spotify-white);

}
#media-player .bottom-15 {
    bottom: 15% !important;
  }
#media-player .rounded-7 {
    border-radius: 0.7rem !important;
  }

#heart:not(.bi-heart-fill) {
    opacity: 0.6;
}

#heart:not(.bi-heart-fill):hover{
    opacity: 1;
}

#heart {
    display: inline-block;
}

.bi-arrow-repeat{
    color: white;
    opacity: 0.4;
}
.bi-arrow-repeat:hover {
    opacity: 1;
}

.bi-shuffle {
    color: white;
    opacity: 0.6;
}

.bi-shuffle:hover {
    opacity: 1;
}
  @-webkit-keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
      opacity: 1;
    }
  }

  @keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
}


.slide-container-music {
        width: 84%; /* Width of the outside container */
      }

.slide-container {
        margin-top: 30px;
        width: 30%; /* Width of the outside container */
      }


      /* The slider itself */

      .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 4px;
        border-radius: 5px;
        background: var(--spotify-grey);
        background-image: linear-gradient(var(--spotify-white), var(--spotify-white));
        background-size: 50% 100%;
        background-repeat: no-repeat;
        outline: none;
      
      
      }

      .timeline {
        -webkit-appearance: none;
        width: 100%;
        height: 4px;
        border-radius: 5px;
        background: var(--spotify-grey);
        background-image: linear-gradient(var(--spotify-white), var(--spotify-white));
        background-size: 0% 100%;
        background-repeat: no-repeat;
        outline: none;
      
      
      }
      
      .slider:hover {
        background-image: linear-gradient(var(--spotify-green), var(--spotify-green));
      }
      
      /* Input Thumb */
      .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: var(--spotify-white);
        opacity:0;
        transition: opacity .1s ease-out;
        
      }
      .timeline:hover::-webkit-slider-thumb {
        opacity: 1;
      }

      .slider:hover::-webkit-slider-thumb{
          opacity: 1;
      }
      
      .slider::-moz-range-thumb {
        -webkit-appearance: none;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: var(--spotify-white)
      }
      
      .slider::-ms-thumb {
        -webkit-appearance: none;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: var(--spotify-white);
      }
      

/* Input Track */
.slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
.slider::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
.slider::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  .slide-container-music {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }
  
  
  /*
  .timeline {
    -webkit-appearance: none;
    width: calc(100% - var(--player-button-width));
    height: .5em;
    background-color: #e5e5e5;
    border-radius: 5px;
    background-size: 0% 100%;
    background-image: linear-gradient(#DE5E97, #DE5E97);
    background-repeat: no-repeat;
  }
  
  .timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .1s;
    background-color: #a94672;
  }
  
  .timeline::-webkit-slider-thumb:hover {
    background-color: #943f65;
  }
  
  .timeline:hover::-webkit-slider-thumb {
    opacity: 1;
  }
  
  .timeline::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  .audio-player {
    --player-button-width: 3em;
    --sound-button-width: 2em;
    --space: .5em;
  
  }
  .timeline {
      width: calc(100% - (var(--player-button-width) + var(--sound-button-width) + var(--space)));
  margin-right: var(--space);
  
  }
*/
.popover {
    background: rgb(40, 40, 40);
    border-color: rgb(46, 46, 46);
}
.popover-body {
    background: rgb(40, 40, 40);
    color: rgb(250, 250, 250, 0.8);
    box-shadow: none;
    font-size: medium;
    width: 300px;
    height: 350px;
}

.popover #img-popup{
    width: 280px;
    height: auto;
}

.popover #img-button{
    width: 180px;
    height: auto;
    opacity: 0.9;
}

.popover #img-button:hover{
    opacity: 1;
}

.bs-popover-auto[data-popper-placement^="top"] > .popover-arrow::after,
.bs-popover-top > .popover-arrow::after {
  bottom: 1px;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: rgb(40, 40, 40);
}

.popover-body h4 {
    color: var(--spotify-white);
    font-weight: 700;
    position: relative;
}


.popover-body h4 span {
    margin-left: 15px;
    position: absolute;
    font-size: medium;
}

.popover-body h4 span a{
    color: var(--spotify-white) !important; 
}
      /*when clicked on the volume icon it should turn into mute and vice versa)*/

.spoti-top-cont>img{
    margin:auto;
    width:200px;
}

.logo-navb{
    border-bottom: 1px solid var(--spotify-grey);
    padding: 25px;
    margin-bottom: 25px;
}

.main-section{
    max-width: 450px;
    width: 100%;
    padding: 10px;
    text-align: center;
    
}

.section2{
    border-bottom: 1px solid var(--spotify-grey);
    align-items: center;
    margin-bottom: 30px;
}

.section2>span{

    color: var(--spotify-black);
    font-weight: 700;
    margin-bottom: 30px;

}

.login-button{
    border: none;
    border-radius: 50px;
    width: 100%;
    color: var(--spotify-white);
    padding: 10px;
    font-weight: 700;
}

.facebook-button{
    background-color: var(--facebook-blue);
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.facebook-button>svg{
    margin-right: 10px;
}

.apple-button{
    background-color: var(--spotify-black);
    justify-content: center;
}

.apple-button>img{
    height: 24px;
    margin-right: 10px;
}

.or {
    position: relative;
    bottom: -14px;
    left: 45%;
    width: 10%;
    background-color: var(--spotify-white);
    text-align: center;
    color: var(--spotify-black);
}

.login-form{
margin-bottom: 20px;
}

.form-button{
    border: none;
    border-radius: 50px;
    width: 50%;
    color: var(--spotify-white);
    background-color: var(--spotify-green);
    padding: 10px;
    font-weight: 700;
}

.form-button2{
    border: none;
    border-radius: 50px;
    width: 100%;
    color: var(--spotify-white);
    background-color: var(--spotify-green);
    padding: 10px;
    font-weight: 700;
    display: none;
}

.form-check{
    align-items: center;
}

#exampleCheck1, .form-check-label{
    box-shadow: none;
    cursor: pointer;
}

#exampleCheck1:checked{
    background-color: var(--spotify-green);
    box-shadow: none;
}

.forgot{
    text-align: center;
}

.forgot>a{
    text-decoration: none;
    color: var(--spotify-green);
}

.signup{
    text-align: center;
   align-items: center;
   margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    color: var(--spotify-black);
    border-top: 1px solid var(--spotify-grey);
    border-bottom: 1px solid var(--spotify-grey);
}

.signup-button{
    border: 1px solid var(--spotify-grey);
    border-radius: 50px;
    color: var(--spotify-grey);
    background-color: var(--spotify-white);
    padding: 10px;
    font-weight: 700;
    justify-content: center;
    margin-top: 10px;
}

.privacy-policy{
    text-align: center;
    font-size: 10px;
}

.privacy-policy>a{
    text-decoration: none;
    color: var(--spotify-green);
}

.login-button:hover, .form-control:hover, .form-button:hover, #exampleCheck1:hover{
    border: 1px solid var(--spotify-black);
}
.aaa{
    display: flex;
    justify-content: center;
}

@media  screen and (max-width:768px){


    .facebook-button>svg{
        display: none;
    }

    .apple-button>img{
       display: none;
    }

    .form-button2{
        display: block;
    }

    .form-button{
        display: none;
    }
}
