@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --spotify-green: #1DB954;
    --spotify-black: #000000;
    --spotify-grey: #8b8888;
    --spotify-white: #ffffff;
    --facebook-blue: #4267B2;
    --hover-dark-grey: rgb(46, 46, 46);
   
}

body {
    font-family: 'DM Sans', sans-serif !important;
    color: var(--spotify-grey);
}

#top-nav i.bi-chevron-right{
    
   font-size: 20px;
   position: absolute;
    top: 8%;
    left: 25%;

}
#top-nav i.bi-chevron-left{
    
    font-size: 20px;
    position: absolute;
    top: 8%;
    left: 20%;
     
 }

#top-nav .nav-link {
    color: var(--spotify-white) !important;
    background-color: var(--spotify-black);
    opacity: 0.5;
    border-radius: 50%;
    border-style: none;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    transition: opacity 1s;
}

#top-nav .nav-link:hover {
    opacity: 0.8;
}

#top-nav .dropdown-toggle {
    background: var(--spotify-black);
    border-radius: 50px;
    border-style: none;
}

#top-nav .dropdown-toggle img {
    border-radius: 50%;
}

#top-nav .dropdown-menu-dark {
    background-color: var(--spotify-black);
    width: 175px;
    
}

#top-nav .dropdown-menu-dark span{
    margin-left: 60px;
}



/*add link styles add classes for cards*/

.full-screen-height{
    height: 100vh;
  }


.sidebar-div{
    background-color: var(--spotify-black);
    color: var(--spotify-grey);
    height: 80%;
    font-size: 14px;
}
.scrollbar{
    overflow-y: scroll;
    margin-left: 20px;
}

.scrollbar::-webkit-scrollbar{

    background-color: var(--spotify-black);
    width: 10px;
    }

.scrollbar::-webkit-scrollbar-thumb{

    background-color: var(--spotify-grey);
    
    }

    .scrollbar:vertical{
        height: 20px;
    }


#logo-top{

margin-top: 20px;
margin-right: 70px;
margin-bottom: 20px;
margin-left: 20px;
}

.svg-top{
    margin-right: 10px;
}

.side-icons{
    margin-bottom: 20px;
}

.like-icon{
    background: linear-gradient(242deg, rgba(0,154,185,1) 0%, rgba(139,0,171,1) 53%, rgba(10,0,176,1) 100%);
    width: 22px;
height: 22px;
margin-right: 10px;
text-align: center;

}

.side-p{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 1px;
  margin-bottom: 6px;
}

.group-side-p{
    justify-content: space-between;
}

.install{
    background-color: var(--spotify-black);
    align-items: center;
    height:10px;
    font-size: 12px;
    padding: 20px;
    padding-left: 20px;
    font-weight: 700;
    color: var(--spotify-grey);
    border: none;

}

.install:hover{
    color:var(--spotify-white);
}

.install>svg{
    margin-right: 10px;
}


.hover-effect:hover{

    background-color: var(--hover-dark-grey);
    color: var(--spotify-white);
    border-radius: 3px;
}

.hover-effect{
align-items: center;
padding: 10px;
padding-left: 16px;
margin-left: 4px;
margin-right: 4px;
cursor: pointer;
}

.hover-effect>p{
    margin-bottom: 0px;
}


.side-p:hover{
    background-color: var(--hover-dark-grey);
    border-radius: 3px;
    color: var(--spotify-white);
    cursor: pointer;
}

.spoti-logo{
    color: white;
}

.spoti-logo>svg{
    width: 50%;
}

.border-like{
    width: 80%;
    margin: auto;
    opacity: 0.5;
    border-bottom: 1px solid var(--spotify-grey);
    margin-bottom: 10px;
}

#media-player {
    position: absolute; 
    bottom: 0; 
    background-color: var(--spotify-black); 
    height: 100px;
    color: var(--spotify-grey);
}
#media-player p {
    color: var(--spotify-grey)
}
#media-player h6:first-of-type {
    color: var(--spotify-white);
}
#media-player a {
    color: var(--spotify-grey) !important;
}

#media-player a:hover {
    color: var(--spotify-white) !important;
}


.slide-container-music {
        width: 84%; /* Width of the outside container */
      }

.slide-container {
        margin-top: 30px;
        width: 30%; /* Width of the outside container */
      }


      /* The slider itself */

      .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 4px;
        border-radius: 5px;
        background: var(--spotify-grey);
        background-image: linear-gradient(var(--spotify-white), var(--spotify-white));
        background-size: 50% 100%;
        background-repeat: no-repeat;
        outline: none;
        -webkit-transition: .2s;
        transition: background-image .2s;
      
      }
      
      .slider:hover {
        background-image: linear-gradient(var(--spotify-green), var(--spotify-green));
      }
      
      /* Input Thumb */
      .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: var(--spotify-white);
        opacity:0;
        transition: opacity .1s ease-out;
        
      }
      
      .slider::-webkit-slider-thumb:hover{
          opacity: 1;
      }
      
      .slider::-moz-range-thumb {
        -webkit-appearance: none;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: var(--spotify-white)
      }
      
      .slider::-ms-thumb {
        -webkit-appearance: none;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: var(--spotify-white);
      }
      
/* Input Track */
.slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
.slider::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
.slider::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
      /*slider handle should only appear when I hover on the slider*/
      /*slider color should change to green when on hover*/
      /*when clicked on the volume icon it should turn into mute and vice versa)